<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LendKaro</title>
    <meta name="author" content="Shashank Kumar,Utkarsh Pndey & Ashish kumar">
    <meta name="description" content="Here you can lend and borrow any thing having a price under 10,000.">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top">
      <h1>Welcome to LendKaro</h1>
    </div>
    <div class="container">
      <div class="side left">
          <a href="/consumer" class="btn btn-1">Want to Borrow</a>
      </div>
      <div class="side right">
          <a href="/lender" class="btn btn-2">Want to Lend</a>
      </div>
    </div>
  </body>
</html>
