<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LendKaro</title>
    <meta name="author" content="Shashank Kumar,Utkarsh Pndey & Ashish kumar">
    <meta name="description" content="Here you can lend and borrow any thing having a price under 10,000.">
    <link rel="stylesheet" href="/css/thankyoulender.css">
    <link rel="icon" href="/img/favicon.ico">
  </head>
  <body>
  <div class="thankyou-page">
    <div class="_header">
        <div class="logo">
            <img src="https://codexcourier.com/images/banner-logo.png" alt="">
        </div>
        <h1>Thank You!</h1>
    </div>
    <div class="_body">
        <div class="_box">
            <h2><strong>Your item has been listed on our site.</strong></h2>
            <h3>We will inform you when someone wants to borrow it</h3>
        </div>
    </div>
    <div class="_footer">
        <!-- <p>Having trouble? <a href="">Contact us</a> </p> -->
        <a class="btn" href="/">Back to homepage</a>
    </div>
  </div>
  </body>
